* {
    box-sizing: border-box;
}

/* Mobile First design */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 300px;
    height: 100vh;
    /* Implement Grid layout */
    display: grid;
    grid-template-rows: [page-top] 50px [main-top] auto [page-bottom];
    grid-template-columns: [page-left] auto [page-right];
    overflow: hidden;
}

#pageHeader {
    grid-row: page-top / main-top;
    grid-column: page-left / page-right;
    /* Flex-box inside Page Header */
    display: flex;
    justify-content: space-between;
    background-color: #26201D;
    padding: 5px 25px;
    vertical-align: center;
}

#sideBar {
    display: none;
}

main {
    grid-row: main-top / page-bottom;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #26201D;
    
}

h1 {
    font-family: 'Clicker Script', cursive;
    color: #F2F2F2;
    margin: 0;
}

a {
    text-decoration: none;
}

#whiteRoseBanner {
    min-height: 300px;
    width: calc(100% -20px);
    background: url("/images/whiterose.JPEG") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    border-radius: 25px;
    margin: 10px;
    overflow: hidden;
}

section {
    min-height: 300px;
    padding: 6% 0;
    background-color: #bbb;
}
  
section:nth-child(even) {
    background-color: #ddd;
}

.unsplashLogo {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-2px;
    fill:black;
}

/* Styling for Tablet size screen */
@media screen and ( min-width: 550px ) {

body {
    grid-template-columns: [page-left main-left] 1fr [main-right] 100px [page-right];
}

main {
    grid-column: main-left / main-right;
    
}

#sideBar {
    grid-row: main-top / page-bottom;
    grid-column: main-right / page-right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    color: #F2F2F2;
    background-color: #26201D;
    vertical-align: middle;
}

#sideBar figure,
#sideBar footer {
    display: none;
    margin: 0;
}

#sideBar ul {
    list-style: none;
    padding: 0;

}

#sideBar li {
    border-bottom: 2px solid black;
    padding: 5px 0;
}

#sideBar li:nth-last-child(1) {
    border-bottom: 0;
}



.menuText {
    display: none;
}

}

/* Styling for Computer size screen */
@media screen and ( min-width: 850px ) {

body {
    grid-template-rows: [main-top] auto [page-bottom];
    grid-template-columns: [page-left main-left] 1fr [main-right] 200px [page-right];
}

#pageHeader {
    display: none;
}

#whiteRoseBanner {
    border-radius: 0;
    margin: 0;
}

#sideBar figure,
#sideBar footer {
    display: block;
}



.menuText {
    display: inherit;
}


}    