* {
    box-sizing: border-box;
}

/* Mobile First design */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 15px;
    min-width: 320px;
    height: 100vh;
    color: #F2F2F2;
    background-color: #26201D;
    /* Implement Grid layout */
    display: grid;
    grid-template-rows: [page-top] 65px [main-top] 1fr [page-bottom];
    grid-template-columns: [page-left main-left] 1fr [main-right] 65px [page-right];
    overflow: hidden;
}

#pageHeader {
    grid-row: page-top / main-top;
    grid-column: page-left / main-right;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: top;
}

#menuHeader {
    grid-row: page-top / main-top;
    grid-column: main-right / page-right;
    text-align: right;
    font-size: 2em;
}

#sideBar {
    display: none;
}

main {
    grid-row: main-top / page-bottom;
    grid-column: main-left / page-right;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 15px;
    color: #2B400C;
}

h1 {
    font-family: 'Clicker Script', cursive;
    color: #F2F2F2;
    margin: 0;
    font-size: 2.5em;
}

h2 {
    font-family: 'Anonymous Pro', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-size: larger;
}

.icon {
    font-size: 2.0em;
}

#whiteRoseBanner {
    min-height: 300px;
    width: 100%;
    background: url("images/whiterose.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
}

section {
    padding: 5%;
    background-color: #F2ECD8;
    overflow: visible;
    border-bottom: 1px dotted #2B400C;
}

section:nth-last-child(1) {
    border-bottom: 0;
}

#introSection {
    text-align: center;
}

#aboutSection img {
    width: 50%;
    margin: 0 15px 15px 0;
    float: left;
}

#bqImage {
    width: 50%;

}

form * {
    display: block;
}

/* Styling for Tablet size screen */
@media screen and ( min-width: 550px ) {

body {
    font-size: 18px;
}

main {
    grid-column: main-left / main-right;
}

#sideBar {
    grid-row: main-top / page-bottom;
    grid-column: main-right / page-right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #F2F2F2;
    background-color: #26201D;
    vertical-align: middle;
}

#sideBar h1,
#sideBar footer {
    display: none;
    margin: 0;
}

#sideBar ul {
    list-style: none;
    padding: 0;

}

#sideBar li {
    padding: 5px 0;
    text-align: right;
    vertical-align: middle;
}


.menuText {
    display: none;
}

}

/* Styling for Computer size screen */
@media screen and ( min-width: 850px ) {

body {
    grid-template-rows: [main-top] auto [page-bottom];
    grid-template-columns: [page-left main-left] 1fr [main-right] 200px [page-right];
    margin: 0;
    font-size: 20px;
}

#pageHeader,
#menuHeader {
    display: none;
}

#whiteRoseBanner {
    border-radius: 0;
    margin: 0;
}

#sideBar h1,
#sideBar footer {
    display: block;
}



.menuText {
    display: inherit;
}


}    