* {
    box-sizing: border-box;
}

/* Mobile First design */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 15px;
    min-width: 320px;
    height: 100vh;
    color: #F2F2F2;
    background-color: #26201D;
    /* Implement Grid layout */
    display: grid;
    grid-template-rows: [page-top] 65px [main-top] 1fr [page-bottom];
    grid-template-columns: [page-left main-left] 1fr [main-right] 65px [page-right];
    overflow: hidden;
}

#pageHeader {
    grid-row: page-top / main-top;
    grid-column: page-left / page-right;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #F2F2F2;
    background-color: #26201D;
    vertical-align: middle;
    z-index: 1;
}

#sideBar h1,
#sideBar footer {
    display: none;
    margin: 0;
}

#sideBar ul {
    list-style: none;
    padding: 0;

}

#sideBar li {
    padding: 5px 0;
    text-align: right;
    vertical-align: middle;
}

#sideBar .menuText {
    display: none;
}

main {
    grid-row: main-top / page-bottom;
    grid-column: main-left / page-right;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border-radius: 15px;
    color: #2B400C;
}

main::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'Clicker Script', cursive;
    color: #F2F2F2;
    margin: 0;
    font-size: 2.5em;
}

h2 {
    font-family: 'Anonymous Pro', monospace;
    margin: 1.5em 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* TODO: Figure out Safari issue with hover effect.
-webkit-transition: all 0.5s ease-in-out; 
transition: all 0.5s ease-in-out; 


a:not(.title):hover {
    font-weight: bold;
    text-size: larger;
}
*/

.icon {
    font-size: 2.0em;
    margin: 5px;
}

#whiteRoseBanner {
    min-height: 300px;
    width: 100%;
    background: url("images/whiterose.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
}

section {
    padding: 5%;
    background-color: #F2ECD8;
    overflow: visible;
    border-bottom: 1px dotted #2B400C;
}

section:nth-last-child(1) {
    border-bottom: 0;
}

#introSection {
    text-align: center;
}

.title {
    text-decoration: underline;
}

#aboutSection img {
    width: 50%;
    margin: 0 15px 15px 0;
    float: left;
}

#portfolioSection ul {
    list-style: none;
    padding-left: 20px;
}

.bqCarousel {
    display: grid;
    grid-template-columns: [carousel-left] 1fr [image-left] 8fr [image-right] 1fr [carousel-right];   
    align-items: center;
    justify-items: center;
}

.bqImagePrev {
    grid-column: carousel-left / image-left;
}

.bqImageNext {
    grid-column: image-right / carousel-right;
}

.bqImage {
    grid-column: image-left / image-right;
    height: auto;
    width: 100%;
    max-width: 600px;
    justify-self: center;
}


/* Hiding sidebar for mobile size */
@media screen and ( max-width: 549px ) {

#sideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80px;
    right: -550px;
    padding: 15px;
    transition: transform 0.5s ease-in-out;
}

#sideBar:target {
    transform: translateX(-550px);
}

}

/* Styling for Tablet size screen */
@media screen and ( min-width: 550px ) {

body {
    font-size: 18px;
}

main {
    grid-column: main-left / main-right;
}

.menuToggle {
    display: none;
}

#sideBar {
    grid-row: main-top / page-bottom;
    grid-column: main-right / page-right;
}

}

/* Styling for Computer size screen */
@media screen and ( min-width: 850px ) {

body {
    grid-template-rows: [main-top] auto [page-bottom];
    grid-template-columns: [page-left main-left] 1fr [main-right] 200px [page-right];
    margin: 0;
    font-size: 20px;
}

#pageHeader{
    display: none;
}

#whiteRoseBanner {
    border-radius: 0;
    margin: 0;
}

#sideBar h1,
#sideBar footer {
    display: block;
}

#sideBar .menuText {
    display: inherit;
}

}    